# Sample workflow for building and deploying a Next.js site to GitHub Pages
#
# To get started with Next.js see: https://nextjs.org/docs/getting-started
#
name: Deploy Next.js site to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Setup Pages
        uses: actions/configure-pages@v5
        with:
          static_site_generator: next
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: movies-app/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/movies-app/package-lock.json', '**/movies-app/yarn.lock') }}-${{ hashFiles('**/movies-app/*.[jt]s', '**/movies-app/*.[jt]sx') }}
          restore-keys: ${{ runner.os }}-nextjs-${{ hashFiles('**/movies-app/package-lock.json', '**/movies-app/yarn.lock') }}-
      - name: Install dependencies
        run: npm ci --cwd movies-app
      - name: Build with Next.js
        run: npm run next build --cwd movies-app
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: movies-app/out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
